---
import "@music/ui/globals.css"
import { AstroFont } from "astro-font";
---

<head>
  <body class="bg-gray-950 text-foreground">
    <AstroFont
      config={[
        {
          src: [],
          name: "Font Sans",
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Font+Sans:wght@400;600;700&display=swap',
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </body>
</head>