---
import "@music/ui/globals.css"
import { Button } from "@music/ui/button"

import Layout from "../layout/layout.astro"
import Navbar from "../components/Navbar"
import { GitHubLogoIcon } from "@radix-ui/react-icons"
---

<Layout />
<div class="flex flex-col items-center justify-center min-h-screen">
  <div class="fixed top-0 left-1/2 transform -translate-x-1/2">
    <Navbar client:idle/>
  </div>
    <h1 class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">Own your Music</h1>
  <div class="flex flex-row gap-4 p-4">
    <Button className="bg-clip-border bg-gradient-to-r from-purple-400 to-red-500 text-white">Get Started</Button>

    <a href="https://github.com/WillKirkmanM/music" target="_blank">
      <Button className="gap-2">
          <GitHubLogoIcon />
          View Github Repo
      </Button>
    </a>
  </div>
</div>
