@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .slider::-webkit-slider-runnable-track {
    transform: translateX(-6px); 
    height: 3px;                 
    border-radius: 2px;          
  }

  .slider::-moz-range-track { 
    transform: translateX(-6px); 
    background-color: gray-300;  
    height: 3px;                 
    border-radius: 2px
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;        
    appearance: none;             
    width: 12px;                     
    height: 12px;                    
    opacity: 0;                      
    border-radius: 50%;
    border: none;
    background-color: white;
  }

  .slider::-moz-range-thumb {
    -webkit-appearance: none;        
    appearance: none;             
    width: 12px;                     
    height: 12px;                    
    opacity: 0;            
    border-radius: 50%;
    border: none;
    background-color: white;
  }

  .slider::-webkit-progress-bar {
    background-color: black;
  }

  .slider::-moz-range-progress {
    background-color: black;
    height: 4px;
  }

  .slider:hover::-webkit-slider-thumb {
    opacity: 1;                      
  }
  .slider:hover::-moz-range-thumb {
    opacity: 1;                      
  }

}